folium
streamlit-folium
openpyxl

mlflow[genai]==2.17.0

boto3==1.34.162
botocore>=1.34

beautifulsoup4==4.12.3
requests==2.32.3
scipy

shapely>=2.0
pyproj>=3.6
pyshp>=2.3

streamlit==1.38.0
pandas==2.2.2
numpy==1.26.4
pydeck==0.9.1
python-dotenv==1.0.1

# arcgis optional; uncomment only if you truly need it on cloud
# arcgis>=2.2,<2.5
